<div class="navbar navbar-fixed-top" ng:bind="startFBVerification">
        <div class="navbar-inner mainNavHeight">
            <div class="container">
                <div class="navmenu">
                  <a href="#/nav/lobby"><div class="lobbyicon navicon"></div>Lobby</a>
                  <a href="#/nav/deckworkshop"><div class="workshopicon navicon"></div>Deck  Workshop</a>
                  <a href="#/nav/training"><div class="trainingicon navicon"></div>Go Training</a>
                  <a href="#/nav/stats"><div class="statsicon navicon"></div>My Stats</a>
                  <a href="#/nav/logout"><div class="logouticon navicon"></div>Log Out</a>
                </div>
            </div>
        </div>
    </div>

<br><br><br>
<div ng:controller='RetrieveCardCtrl'>
</div>

<div class="comingsoon alert alert-info">
    <h3 class="alert-heading">Deck Workshop Is Coming Soon!</h3><br>
    <p><strong>What is the Deck Workshop?</strong><br>
    The Deck Workshop is a place for you to create custom cards to use in a card duel against
    your friends! Here, we'll let you set up your own question, which will be auto-magically
    turned into a card. This card will then be added to your deck!</p>
    
    <p>
        <strong>Have suggestions?</strong>
        We'd love to hear from you! Simply click on the orange tab on the lower right of
        the page to tell us of your ideas.
    </p>
    
    <p>We're currently putting our finishing touches to this section!
        Why don't you try out some of our working features for now?</p>
    <a href="#/nav/training" class="btn btn-info">Go Training</a>
    <a href="#/nav/lobby" class="btn">Return to Lobby</a>
</div>
<!-- GA JS-->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-29952554-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
