<div class="massiveWrapper" ng:controller="GraphQuestionCtrl">
	<div id="graph-canvas">

	</div>

	<div id="question-text">
		<h1>{{card.question_name}}</h1>

		<p>{{card.question_body}}</p>

		<input type="button" value="Check Answer" ng:click="checkAnswerButtonClicked()" />
	</div>
</div>
<!-- GA JS-->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-29952554-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
