<!-- Facebook Init JS -->
<div id="fb-root"></div>
<script type="text/javascript">
	window.fbAsyncInit = function() {
	    FB.init({
	        appId      : '310020362385862', // App ID
	        channelUrl : '//cardonomics.appspot.com/app/channel.html', // Channel File
	        status     : true, // check login status
	        cookie     : true, // enable cookies to allow the server to access the session
	        xfbml      : true  // parse XFBML
	    });
	};

	// Load the SDK Asynchronously
	(function(d){
	    var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
	    if (d.getElementById(id)) {return;}
	    js = d.createElement('script'); js.id = id; js.async = true;
	    js.src = "//connect.facebook.net/en_US/all.js";
	    ref.parentNode.insertBefore(js, ref);
	}(document));
</script>

<!-- logo and button -->
<div ng:controller="LoginCtrl" class="ipadWrapper" style="padding-top:10%">
    <div class="loginContainer marginauto" >
        <div class="logo"></div>
        <span class="h4" style="margin-left:12px"><strong>Make Learning Economics Fun</strong></span>

        <div class="fb-login-btn" ng:click="startFBLogin()">{{buttonText}}</div>
        <div class="infoText">Your info is only used for logging into Cardonomics</div>
		<!-- <div ng:controller="TestCtrl"><a ng:click="testNavigate()">Test Navigation!</a></div> -->

    </div>
</div>
<!-- GA JS-->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-29952554-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
