<div class="navbar navbar-fixed-top" ng:bind="startFBVerification">
        <div class="navbar-inner mainNavHeight">
            <div class="container">
                <div class="navmenu">
                  <a href="#/nav/lobby"><div class="lobbyicon navicon"></div>Lobby</a>
                  <a href="#/nav/deckworkshop"><div class="workshopicon navicon"></div>Deck Workshop</a>
                  <a href="#/nav/training"><div class="trainingicon navicon"></div>Go Training</a>
                  <a href="#/nav/stats"><div class="statsicon navicon"></div>My Stats</a>
                  <a href="#/nav/logout"><div class="logouticon navicon"></div>Log Out</a>
                </div>
            </div>
        </div>
    </div>
<br><br><br>
<div class="comingsoon alert alert-warning">
    <h3 class="alert-heading">Statistics Are Coming Soon!</h3><br>
        <strong>Have suggestions?</strong>
        We'd love to hear from you! Simply click on the orange tab on the lower right of
        the page to tell us of your ideas.
    </p>

    <p>We're currently putting our finishing touches to this section!
        Why don't you try out some of our working features for now?</p>

    <a href="#/nav/training" id="trainingBtn" class="btn btn-warning">Go Training</a>
    <a href="#/nav/lobby" id="lobbyBtn" class="btn">Return to Lobby</a>
</div>

<!-- GA JS-->
<script type="text/javascript">
    _gaq.push(['_trackPageview', location.href.match(/\/app\/(.*)/)[0]]);
</script>

